<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Portal del usuario</title>
</head>
<body>
	<h1>Crear propuesta</h1>
	<p th:text="${mensaje}" />
	<form method="POST" action="create">
		<ul>
			<li><p>Titulo de la propuesta</p> <input type="text"
				name="suggestion_title" /></li>
			<li><p>Descripción de la propuesta</p> <input type="text"
				name="suggestion_description" /></li>
			<li><p>Fecha fin de la propuesta</p> <input type="date"
				name="fechaFinPropuesta" /></li>
		</ul>
		<br /> <input type="submit" name="crearPropuesta" value="Crear" />
	</form>
</body>
</html>