<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Edit Suggestion</title>
</head>
<body>
	<h1>Edit Suggestion</h1>
	<form method="POST" action="save" id="editform">
		Suggestion Title
		<input type="text" name="suggestion_title" />
		<br>
		Suggestion Category
		<input type="text" name="suggestion_category" />
		<br>
		Suggestion Creation Date
		<input type="text" name="suggestion_creation" />
		<br>
		Suggestion End Date
		<input type="text" name="suggestion_ends" />
		<br>		
	</form>
	Suggestion Description<br>
	<textarea name="description" form="editform" placeholder="${sugerencia.descripcion}" cols="80" rows="15"></textarea>
	<br>
	<input type="submit" name="save" form="editform" value="Save"/>
</body>
</html>