<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Administration</title>
</head>
<body>
	<h1>Suggestions on transact</h1>
	<ul>
		<li><a href="">Parameter configuration</a></li>
		<li><a href="accepted.html">Accepted Suggestions</a></li>
		<li><a href="rejected.html">Rejected Suggestions</a></li>
		<li><a href="transact.html">Suggestions on vote</a></li>
	</ul>
	<table border="1">
		<thead>
			<tr>
				<th>Suggestion</th>
				<th>Description</th>
				<th>Votes</th>
				<th>Votes to be accepted</th>
				<th>Date end</th>
				<th>Reject</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="iter : $trasactSuggestions}">
				<td th:text="${iter.titulo}">Title</td>
				<td th:text="${iter.descripcion}">Description</td>
				<td th:text="${iter.votosPositivos}">Votes</td>
				<td th:text="${iter.minVotos}">Min Votes</td>
				<td th:text="${iter.fecha_fin}">End Date</td>
				<td>
					<a th:href="@{/rejectSuggestion(idPropuesta=${iter.id})}">Reject</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>